-- CreateEnum
CREATE TYPE "WalletStatus" AS ENUM ('PENDING', 'SYNCING', 'SYNCED', 'ERROR', 'INACTIVE');

-- CreateEnum
CREATE TYPE "TransactionType" AS ENUM ('BUY', 'SELL', 'TRANSFER_IN', 'TRANSFER_OUT', 'MINT', 'AIRDROP', 'BURN');

-- CreateEnum
CREATE TYPE "SyncJobType" AS ENUM ('FULL_HISTORY', 'INCREMENTAL', 'PRICE_UPDATE', 'PNL_RECALCULATE');

-- CreateEnum
CREATE TYPE "SyncJobStatus" AS ENUM ('PENDING', 'RUNNING', 'COMPLETED', 'FAILED', 'CANCELLED');

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "discord_id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "discriminator" TEXT,
    "avatar_url" TEXT,
    "guild_id" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "last_seen_at" TIMESTAMP(3),

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wallets" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "address" TEXT NOT NULL,
    "label" TEXT,
    "status" "WalletStatus" NOT NULL DEFAULT 'PENDING',
    "last_sync_at" TIMESTAMP(3),
    "last_sync_block" BIGINT,
    "total_nfts" INTEGER NOT NULL DEFAULT 0,
    "sync_error" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "wallets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "collections" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "contract_address" TEXT NOT NULL,
    "contract_type" TEXT NOT NULL DEFAULT 'ERC721',
    "description" TEXT,
    "image_url" TEXT,
    "banner_url" TEXT,
    "external_url" TEXT,
    "twitter_username" TEXT,
    "discord_url" TEXT,
    "total_supply" INTEGER,
    "floor_price_eth" DECIMAL(30,18),
    "floor_price_usd" DECIMAL(20,2),
    "volume_24h_eth" DECIMAL(30,18),
    "volume_7d_eth" DECIMAL(30,18),
    "volume_all_time_eth" DECIMAL(30,18),
    "num_owners" INTEGER,
    "market_cap_eth" DECIMAL(30,18),
    "royalty_bps" INTEGER DEFAULT 0,
    "opensea_fee_bps" INTEGER DEFAULT 250,
    "stats_updated_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "collections_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "nfts" (
    "id" TEXT NOT NULL,
    "token_id" TEXT NOT NULL,
    "contract_address" TEXT NOT NULL,
    "collection_id" TEXT NOT NULL,
    "name" TEXT,
    "description" TEXT,
    "image_url" TEXT,
    "animation_url" TEXT,
    "external_url" TEXT,
    "metadata" JSONB,
    "traits" JSONB,
    "rarity_rank" INTEGER,
    "rarity_score" DECIMAL(10,4),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "nfts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transactions" (
    "id" TEXT NOT NULL,
    "tx_hash" TEXT NOT NULL,
    "nft_id" TEXT NOT NULL,
    "wallet_id" TEXT NOT NULL,
    "counterparty_address" TEXT,
    "event_type" "TransactionType" NOT NULL,
    "quantity" INTEGER NOT NULL DEFAULT 1,
    "price_eth" DECIMAL(30,18) NOT NULL,
    "price_usd" DECIMAL(20,2),
    "eth_price_at_time" DECIMAL(20,2),
    "gas_used" BIGINT,
    "gas_price_wei" BIGINT,
    "gas_fee_eth" DECIMAL(30,18),
    "gas_fee_usd" DECIMAL(20,2),
    "marketplace_fee_eth" DECIMAL(30,18),
    "marketplace_fee_pct" DECIMAL(10,4),
    "royalty_fee_eth" DECIMAL(30,18),
    "royalty_fee_pct" DECIMAL(10,4),
    "marketplace" TEXT,
    "block_number" BIGINT,
    "log_index" INTEGER,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "processed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "holdings" (
    "id" TEXT NOT NULL,
    "nft_id" TEXT NOT NULL,
    "wallet_id" TEXT NOT NULL,
    "cost_basis_eth" DECIMAL(30,18) NOT NULL,
    "cost_basis_usd" DECIMAL(20,2),
    "gas_fee_eth" DECIMAL(30,18) NOT NULL DEFAULT 0,
    "acquisition_tx_id" TEXT,
    "acquisition_date" TIMESTAMP(3) NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "holdings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "pnl_records" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "wallet_id" TEXT NOT NULL,
    "nft_id" TEXT NOT NULL,
    "sell_transaction_id" TEXT,
    "cost_basis_eth" DECIMAL(30,18) NOT NULL,
    "sale_price_eth" DECIMAL(30,18),
    "buy_gas_fee_eth" DECIMAL(30,18) NOT NULL DEFAULT 0,
    "sell_gas_fee_eth" DECIMAL(30,18),
    "marketplace_fee_eth" DECIMAL(30,18),
    "royalty_fee_eth" DECIMAL(30,18),
    "total_cost_eth" DECIMAL(30,18) NOT NULL,
    "net_proceeds_eth" DECIMAL(30,18),
    "realized_pnl_eth" DECIMAL(30,18),
    "realized_pnl_usd" DECIMAL(20,2),
    "unrealized_pnl_eth" DECIMAL(30,18),
    "unrealized_pnl_usd" DECIMAL(20,2),
    "roi_pct" DECIMAL(10,4),
    "is_realized" BOOLEAN NOT NULL DEFAULT false,
    "hold_duration_days" INTEGER,
    "sold_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "pnl_records_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sync_jobs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "wallet_id" TEXT NOT NULL,
    "job_type" "SyncJobType" NOT NULL,
    "status" "SyncJobStatus" NOT NULL DEFAULT 'PENDING',
    "progress" INTEGER NOT NULL DEFAULT 0,
    "total_items" INTEGER,
    "processed_items" INTEGER NOT NULL DEFAULT 0,
    "error_message" TEXT,
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sync_jobs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "eth_price_history" (
    "id" TEXT NOT NULL,
    "price_usd" DECIMAL(20,2) NOT NULL,
    "timestamp" TIMESTAMP(3) NOT NULL,
    "source" TEXT NOT NULL DEFAULT 'coingecko',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "eth_price_history_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "audit_logs" (
    "id" TEXT NOT NULL,
    "user_id" TEXT,
    "action" TEXT NOT NULL,
    "resource" TEXT NOT NULL,
    "resource_id" TEXT,
    "metadata" JSONB,
    "ip_address" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "audit_logs_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "users_discord_id_key" ON "users"("discord_id");

-- CreateIndex
CREATE INDEX "users_discord_id_idx" ON "users"("discord_id");

-- CreateIndex
CREATE INDEX "users_guild_id_idx" ON "users"("guild_id");

-- CreateIndex
CREATE UNIQUE INDEX "wallets_address_key" ON "wallets"("address");

-- CreateIndex
CREATE INDEX "wallets_user_id_idx" ON "wallets"("user_id");

-- CreateIndex
CREATE INDEX "wallets_address_idx" ON "wallets"("address");

-- CreateIndex
CREATE INDEX "wallets_status_idx" ON "wallets"("status");

-- CreateIndex
CREATE UNIQUE INDEX "collections_slug_key" ON "collections"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "collections_contract_address_key" ON "collections"("contract_address");

-- CreateIndex
CREATE INDEX "collections_contract_address_idx" ON "collections"("contract_address");

-- CreateIndex
CREATE INDEX "collections_slug_idx" ON "collections"("slug");

-- CreateIndex
CREATE INDEX "nfts_collection_id_idx" ON "nfts"("collection_id");

-- CreateIndex
CREATE INDEX "nfts_contract_address_idx" ON "nfts"("contract_address");

-- CreateIndex
CREATE INDEX "nfts_token_id_idx" ON "nfts"("token_id");

-- CreateIndex
CREATE UNIQUE INDEX "nfts_token_id_contract_address_key" ON "nfts"("token_id", "contract_address");

-- CreateIndex
CREATE INDEX "transactions_wallet_id_idx" ON "transactions"("wallet_id");

-- CreateIndex
CREATE INDEX "transactions_nft_id_idx" ON "transactions"("nft_id");

-- CreateIndex
CREATE INDEX "transactions_tx_hash_idx" ON "transactions"("tx_hash");

-- CreateIndex
CREATE INDEX "transactions_timestamp_idx" ON "transactions"("timestamp");

-- CreateIndex
CREATE INDEX "transactions_event_type_idx" ON "transactions"("event_type");

-- CreateIndex
CREATE INDEX "transactions_wallet_id_timestamp_idx" ON "transactions"("wallet_id", "timestamp");

-- CreateIndex
CREATE UNIQUE INDEX "transactions_tx_hash_nft_id_event_type_key" ON "transactions"("tx_hash", "nft_id", "event_type");

-- CreateIndex
CREATE INDEX "holdings_wallet_id_idx" ON "holdings"("wallet_id");

-- CreateIndex
CREATE INDEX "holdings_nft_id_idx" ON "holdings"("nft_id");

-- CreateIndex
CREATE UNIQUE INDEX "holdings_nft_id_wallet_id_key" ON "holdings"("nft_id", "wallet_id");

-- CreateIndex
CREATE UNIQUE INDEX "pnl_records_sell_transaction_id_key" ON "pnl_records"("sell_transaction_id");

-- CreateIndex
CREATE INDEX "pnl_records_user_id_idx" ON "pnl_records"("user_id");

-- CreateIndex
CREATE INDEX "pnl_records_wallet_id_idx" ON "pnl_records"("wallet_id");

-- CreateIndex
CREATE INDEX "pnl_records_nft_id_idx" ON "pnl_records"("nft_id");

-- CreateIndex
CREATE INDEX "pnl_records_is_realized_idx" ON "pnl_records"("is_realized");

-- CreateIndex
CREATE INDEX "pnl_records_user_id_is_realized_idx" ON "pnl_records"("user_id", "is_realized");

-- CreateIndex
CREATE INDEX "sync_jobs_wallet_id_idx" ON "sync_jobs"("wallet_id");

-- CreateIndex
CREATE INDEX "sync_jobs_status_idx" ON "sync_jobs"("status");

-- CreateIndex
CREATE INDEX "sync_jobs_user_id_status_idx" ON "sync_jobs"("user_id", "status");

-- CreateIndex
CREATE UNIQUE INDEX "eth_price_history_timestamp_key" ON "eth_price_history"("timestamp");

-- CreateIndex
CREATE INDEX "eth_price_history_timestamp_idx" ON "eth_price_history"("timestamp");

-- CreateIndex
CREATE INDEX "audit_logs_user_id_idx" ON "audit_logs"("user_id");

-- CreateIndex
CREATE INDEX "audit_logs_action_idx" ON "audit_logs"("action");

-- CreateIndex
CREATE INDEX "audit_logs_created_at_idx" ON "audit_logs"("created_at");

-- AddForeignKey
ALTER TABLE "wallets" ADD CONSTRAINT "wallets_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "nfts" ADD CONSTRAINT "nfts_collection_id_fkey" FOREIGN KEY ("collection_id") REFERENCES "collections"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transactions" ADD CONSTRAINT "transactions_nft_id_fkey" FOREIGN KEY ("nft_id") REFERENCES "nfts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transactions" ADD CONSTRAINT "transactions_wallet_id_fkey" FOREIGN KEY ("wallet_id") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "holdings" ADD CONSTRAINT "holdings_nft_id_fkey" FOREIGN KEY ("nft_id") REFERENCES "nfts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "holdings" ADD CONSTRAINT "holdings_wallet_id_fkey" FOREIGN KEY ("wallet_id") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pnl_records" ADD CONSTRAINT "pnl_records_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pnl_records" ADD CONSTRAINT "pnl_records_wallet_id_fkey" FOREIGN KEY ("wallet_id") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pnl_records" ADD CONSTRAINT "pnl_records_nft_id_fkey" FOREIGN KEY ("nft_id") REFERENCES "nfts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pnl_records" ADD CONSTRAINT "pnl_records_sell_transaction_id_fkey" FOREIGN KEY ("sell_transaction_id") REFERENCES "transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sync_jobs" ADD CONSTRAINT "sync_jobs_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sync_jobs" ADD CONSTRAINT "sync_jobs_wallet_id_fkey" FOREIGN KEY ("wallet_id") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

